<a href="https://colab.research.google.com/github/abdullahfawazaltulahi/Engitrum-club/blob/main/Engitrum_club_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#in Week 1 we need to understand : 

Datatype in python 

Expression and variable in python 

single operations in python 

Lists and Tuple in python 

Dictionaries

# Project 
will be Phone Book that you can Save the number and looking for number

#Data type

In [ ]:
# numbe r
x=23 # int 
y=55.66 # float
print(x,"\nthe type is",type(x),'\n')
print(y,"\nthe type is",type(y))

23
the type is <class 'int'>

55.66
the type is <class 'float'>

In [ ]:
a='Abdullah Fawaz'
print(a,"\nthe type is ",type(a))

Abdullah Fawaz
the type is  <class 'str'>

In [ ]:
b=[1,2,3,4]
c=["python","C++","java","Ruby"]
print(b,'\n the type is',type(b),'\n')
print(c,'\n the type is',type(c))

[1, 2, 3, 4]
 the type is <class 'list'>

['python', 'C++', 'java', 'Ruby']
 the type is <class 'list'>

In [ ]:
d=(1,2,3,4)
e=('R','PHP','c#','visual basic')
print(d,'\n the type is',type(d),'\n')
print(e,'\n the type is',type(e))

(1, 2, 3, 4)
 the type is <class 'tuple'>

('R', 'PHP', 'c#', 'visual basic')
 the type is <class 'tuple'>

In [ ]:
f={'Name':'Abdullah','Age':'23','City':'Riyadh'}
print(f,'\n the type is',type(f),'\n')

{'Name': 'Abdullah', 'Age': '23', 'City': 'Riyadh'}
 the type is <class 'dict'>

In [ ]:
g=2
h=1
i=4
j=4
print('is g equal to h: ',g==h)
print('is i equal to j: ',i==j)

is g equal to h:  False
is i equal to j:  True

#Expression and variable in python

In [ ]:
#here the k is the variable that we assign value to the variable 
k = 3
# here the expression is multiplies k with 3 and we add 5 
result=k*2+5
print('First example : ',result)

L=10
m=24
resu=L+m*2
print('Second example : ',resu)

First example :  11
Second example :  58

#single operations in python 
here it's have some of Funtions in single operations


*   abs(): function returns the absolute value of a number.
*   len(): function returns the length of an object, such as a string or a list.
*   Type Conversion: The int(), float(), and str() functions can be used to convert values from one data type to another.
*   round(): function can be used to round a float to a specified number of decimal places.
*   isinstance(): Type Checking function can be used to check if a value is of a certain data type.

In [ ]:
x=-9
y=abs(x)
c=abs(-92)
print('here will see the Absolute Value of -9 and -92 : ',y,',',c)

here will see the Absolute Value of -9 and -92 :  9 , 92

In [ ]:
#Note: here the Space between the Word and count it 
r='Engitrum Club'
t=len(r)
v=len('thanks Engitrun Club')
print('here will se the length of r and v : ',t,',',v)

here will se the length of r and v :  13 , 20

In [ ]:
x=10.88
y=str(x)
print(y,'is : ',type(y))

10.88 is :  <class 'str'>

In [ ]:
x = 3.14159
y = round(x, 3)
print('first round :',y) 
o=84.77229
p=round(o,1)
print('\nsecond round :',p)

first round : 3.142

second round : 84.8

#List and Tuple 
* list you can change some data 
* Tuple you can't change the data

In [ ]:
# list 
g=[1,2,3,'Abdullah','Saad',88]
g[2]='norah'
print('this is the list after change : ',g,'\t',type(g))

this is the list after change :  [1, 2, 'norah', 'Abdullah', 'Saad', 88] 	 <class 'list'>

In [ ]:
# Tuple
n=(1,2,3,'abdullah','Saad',88)
print('this is the Tuple:',n,'\t',type(n))

this is the Tuple: (1, 2, 3, 'abdullah', 'Saad', 88) 	 <class 'tuple'>

#Dictionaries 
* in the dictionaries you can change the data by using k-based index to access the value inside your dictionaries

In [ ]:
dic_ex={
    'Abdullah':
    {'age':23,
    'job':'computer science specializing',
    'city':'riyadh'},

    'Ahad':
     {'age':23,
     'job':'AI specializing',
     'city':'Majmaah'},

    'Salem':
     {'age':30,
     'job':'math teacher ',
     'city':'riyadh'}    
    }

print('First example',dic_ex['Abdullah'])

# if you want to change in any data in the dictionaries 
dic_ex['Salem']['age']=31

print('second example',dic_ex['Salem'])

First example {'age': 23, 'job': 'computer science specializing', 'city': 'riyadh'}
second example {'age': 31, 'job': 'math teacher ', 'city': 'riyadh'}

#Project
* The project will be Phone Book

In [ ]:
from IPython.lib.display import exists
Phone_Book={}

while True:
  print("1. Add Phone number")
  print("2. look up phone number")
  print("3. exist")

  chose=input("\nplease Enter your choice (1-3): ")

  if chose=="1":
    name=input("\nplease Enter your name: ")
    number=input("\nplease Enetr your Phone: ")
    Phone_Book[name]=number
    print(f"\nThe information of ({name}) and his phone ({number}) is add\n")

  elif chose=="2":
    name=input("\nplease Enter the name: ")
    if name in Phone_Book:
      number=Phone_Book[name]
      print(f"\nthe information is\n ({name}) \n ({number}) \n")
    else:
        print(f"\nthe ({name}) is not in Phone Book\n ")

  elif chose == "3":
    break
  else:
    print("\n your choice is not in the Menu please Enter again\n ")

1. Add Phone number
2. look up phone number
3. exist

please Enter your choice (1-3): 1

please Enter your name: abdullah

please Enetr your Phone: 0501068872

The information of abdullah and his phone 0501068872 is add
1. Add Phone number
2. look up phone number
3. exist

please Enter your choice (1-3): 2

please Enter the name: abdullah

the information is
 abdullah and
 0501068872

1. Add Phone number
2. look up phone number
3. exist

please Enter your choice (1-3): 3